{% extends "_reusables.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <title>Home Page</title>
        <!-- header block goes here -->
        {% block header %}HEADsER{% endblock %}
    </head>

    <body>
        This is the home page !!
        <!-- content block goes here -->
        <!--{% block content %}{% endblock %}-->
    </body>

    <div>
        <!-- footer block goes here -->
        {% block footer %}FOO2TER{% endblock %}
    </div>

</html>